// Sass Commend
// sass --watch scss/new-home-page.scss:assets/css/new-home-page.min.css --style compressed


$theme-bg: #f9f9f9;
$primary-color: #007336;
$secondary-color: #025227;
$dark-color: #4e4e4e;
$silver-color: #eaeaea;
$light-color: #ffffff;
$base-font: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: $theme-bg;
  font-family: $base-font;
  font-style: normal;
  background-color: #f9f9f9;
}

.form-control {
  border-radius: 4px;
  height: 36px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid $silver-color;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid $primary-color;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 78px 0;

  .section_title {
    .title {
      color: $secondary-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      /* 31.68px */
    }

    .text_default {
      color: $dark-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 142%;
      /* 22.72px */
    }

    .link_new {
      color: $primary-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      /* 18px */
      text-decoration: underline;

      &.text-end {
        text-align: right;
        float: right;
      }
    }
  }
}

.btn_primary {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 78px;
  border: 1px solid var(--Silver, #eaeaea);
  background: var(--Silver, #eaeaea);
  color: var(--Secondary, #025227);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  text-decoration: none;

  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }
}


input[type="checkbox"],
input[type="radio"] {
  accent-color: $primary-color;
}

input[type="range"]::-webkit-slider-thumb {
  background: $primary-color;
}


.top_heading_section {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: $light-color;
  box-shadow: 0px 4px 4px 0px #0000000d;

  .phone {
    text-decoration: none;
    display: inline-block;
    background-color: $primary-color;
    color: $light-color;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 20px 7px 7px;
    border-radius: 30px;

    .fa-phone {
      background-color: $light-color;
      color: $primary-color;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      line-height: 35px;
      text-align: center;
      font-size: 18px;
      margin-right: 10px;
    }
  }
}

.new_banner_section {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("../../assets/img/firms.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 70vh;
  border-radius: 0 0 78px 78px;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    font-weight: 700;
    font-size: 42px;
    line-height: 128%;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: $light-color;
    width: 55%;
    margin: auto;
    text-align: center;
  }

  .btn_primary {
    width: fit-content;
    border-radius: 3px;
    color: $dark-color;
    margin: 30px auto 0;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px #00000026;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
      border-color: $primary-color;
    }
  }
}

.our_story_section {
  background-color: $light-color;

  .title {
    color: $primary-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 128%;
    text-transform: capitalize;
    position: relative;
    white-space: nowrap;
  }

  .border {
    width: 100%;
    height: 1px;
    background-color: #007336;
  }

  p {
    color: $dark-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
  }

  .story_item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border: 1px solid #c3ded0;
    border-radius: 12px;
    background-color: #fcfcfc;
    padding: 20px 15px 5px;
    margin-top: 20px;

    .num {
      font-weight: 900;
      font-size: 64px;
      line-height: 100%;

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #00000026;
      -webkit-text-fill-color: $light-color;
    }

    .title {
      color: #025227;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      margin-bottom: 15px;
    }

    .text_default {
      color: #484848;
      font-weight: 400;
      font-size: 16px;
      line-height: 142%;
    }
  }
}

.about_qll_section {
  img {
    width: 95%;
    height: 420px;
    border-radius: 12px;
    object-fit: cover;
  }

  .content {
    .sub_title {
      color: #025227;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
    }

    .title {
      color: #1A1A1A;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      margin: 20px 0;
    }

    .default_text {
      color: #667085;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }

    .btn_primary {
      border-radius: 4px;
      background-color: $primary-color;
      color: $light-color;
      width: fit-content;
      padding: 18px 30px;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}


.about_specification_section {
  background-color: $light-color;

  img {
    width: 100%;
    height: 420px;
    border-radius: 12px;
    object-fit: cover;
  }

  .content {
    .sub_title {
      color: #025227;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
    }

    .title {
      color: #1A1A1A;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      margin: 20px 0;
    }

    .default_text {
      color: #667085;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    ul {

      li {
        color: #667085;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
      }
    }
  }
}


.testimonials {
  .section_title {
    margin-bottom: 32px;

    .title {
      color: $primary-color;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 132%;
    }
  }

  .testimonial-carousel {
    .testimonial_card {
      padding: 20px;
      border-radius: 32px;
      border: 1px solid $silver-color;
      border-left-width: 4px;
      border-top-width: 4px;
      background-color: $light-color;
      margin-bottom: 15px;
      transition: all 0.3s ease;

      &:hover {
        background-color: $primary-color;
      }

      .img_user {
        width: 96px;
        height: 96px;
        border-radius: 50%;
      }

      .user_name {
        font-weight: 400;
        font-size: 12px;
        color: $dark-color;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      &:hover {
        .user_name {
          color: $light-color;
        }

        .title {
          color: $light-color;
        }

        .text_default {
          color: $light-color;
        }
      }

      .title {
        font-weight: 600;
        font-size: 18px;
        color: $primary-color;
      }

      .text_default {
        color: $dark-color;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .owl-nav button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -54px;
    right: 0;
    background-color: $light-color !important;
    transform: translateY(-50%);
    border: 1px solid $dark-color !important;
    border-radius: 30px;
    line-height: 35px !important;
    color: $dark-color !important;
    font-size: 20px !important;
    opacity: 0.5;
  }

  .owl-nav button.owl-prev {
    right: 50px;
  }

  .owl-dots {
    display: none;
  }
}


.photo_gallery_section {
  background-color: $light-color;

  .title {
    color: $primary-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }

  img {
    width: 100%;
    margin-top: 50px;
  }
}


.featured_section {
  padding-top: 0;
  background-color: $light-color;

  .title {
    color: $primary-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
  }

  .featured-in-carousel {
    .owl_item {
      img {
        height: 30px;
        object-fit: contain;
      }
    }
  }
}



footer {
  .top_area {
    background-color: $primary-color;
    color: $light-color;
    padding: 24px 0;

    .follow {
      color: $light-color;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 0;
    }

    .fa-brands {
      font-size: 20px;
    }
  }

  .footer_content {
    background-color: #025227;
    padding: 64px 0;

    .text_default {
      color: $silver-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 172%;
      letter-spacing: 0%;
      margin: 25px 0 0 0;
    }

    .title {
      color: $silver-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 132%;
      margin-bottom: 25px;
    }

    .footer_el {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 132%;
          color: $silver-color;
          text-decoration: none;
        }
      }
    }

    .contact_option {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        color: $silver-color;
        text-decoration: none;

        .fa-solid {
          margin-right: 5px;
        }
      }
    }
  }

  .copyright_text {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #025227;
    padding: 15px 0;

    .text_default {
      color: $silver-color;
      font-weight: 300;
      font-size: 12px;
      line-height: 152%;
      letter-spacing: 0%;
      text-align: center;
      margin: 0;
    }
  }
}



@media (max-width: 992px) {
  .new_banner_section .text {
    font-size: 36px;
    width: 90%;
  }

  .about_qll_section .content {
    margin-top: 30px;
  }

  .about_qll_section img {
    width: 100%;
  }

  .about_specification_section img {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }

  .top_heading_section {
    height: 50px;
  }

  .top_heading_section .main_logo {
    height: 26px;
  }

  .top_heading_section .phone .fa-phone {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin-right: 5px;
  }

  .top_heading_section .phone {
    font-size: 12px;
    padding: 5px 15px 5px 5px;
  }

  .new_banner_section .text {
    font-size: 26px;
    width: 100%;
  }

  .new_banner_section {
    height: 50vh;
    border-radius: 0 0 30px 30px;
  }

  .about_qll_section img {
    height: 300px;
  }

  .about_specification_section img {
    height: 300px;
  }

  .our_story_section .title {
    margin-bottom: 0;
    font-size: 26px;
  }

  .our_story_section p {
    text-align: justify;
    font-size: 14px;
  }

  .our_story_section .story_item .title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .our_story_section .story_item .text_default {
    font-size: 14px;
  }

  .about_qll_section .content .title {
    font-size: 24px;
    margin: 15px 0;
  }

  .about_specification_section .content .title {
    font-size: 24px;
    margin: 15px 0;
  }

  .testimonials {
    padding-top: 60px;
  }

  .testimonials .section_title .title {
    font-size: 26px;
  }

  .testimonials .owl-nav {
    display: none;
  }

  .photo_gallery_section img {
    margin-top: 20px;
  }

  .photo_gallery_section .title {

    font-size: 26px;
  }

  .featured_section .title {
    font-size: 26px;
    margin-bottom: 30px;
  }


}

@media(max-width: 576px) {
  .about_qll_section img {
    height: 200px;
  }

  .about_specification_section img {
    height: 200px;
  }
}