// SASS WATCHER COMMAND
// sass --watch scss/style.scss:assets/css/style.min.css --style compressed
@import "partials/variables";
@import "partials/header";
@import "partials/footer";
@import "partials/home-page";
@import "partials/all-cattle-page";
@import "partials/common";
@import "partials/cattle-details-page";
@import "partials/compare-page";
@import "partials/cart-page";
@import "partials/checkout-page";
@import "partials/sign-in-page";
@import "partials/sign-up-page";
@import "partials/dashboard";
@import "partials/contact";
@import "partials/about-page";
@import "partials/terms";
@import "partials/responsive";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: $theme-bg;
  font-family: $base-font;
  font-style: normal;
  background-color: #f9f9f9;
}