.form-control {
  border-radius: 4px;
  height: 36px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid $silver-color;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid $primary-color;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 78px 0;
  .section_title {
    .title {
      color: $secondary-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%; /* 31.68px */
    }
    .text_default {
      color: $dark-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 142%; /* 22.72px */
    }
    .link_new {
      color: $primary-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 18px */
      text-decoration: underline;
      &.text-end {
        text-align: right;
        float: right;
      }
    }
  }
}

.btn_primary {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 78px;
  border: 1px solid var(--Silver, #eaeaea);
  background: var(--Silver, #eaeaea);
  color: var(--Secondary, #025227);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  text-decoration: none;
  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }
}


input[type="checkbox"],
input[type="radio"] {
  accent-color: $primary-color; 
}
input[type="range"]::-webkit-slider-thumb {
  background: $primary-color;
}