header {
  .mian_nav {
    position: relative;
    z-index: 999;
    .topbar {
      width: 100%;
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contact_area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        h6 {
          display: flex;
          align-items: center;
          color: $primary-color;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          margin-bottom: 0;
          .bullet {
            display: block;
            width: 12px;
            height: 12px;
            margin-right: 2px;
            aspect-ratio: 1/1;
            background-color: $primary-color;
            border: 2px solid $light-color;
            border-radius: 12px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
          }
        }
        .phone {
          display: flex;
          padding: 6px 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 40px;
          border: 1px solid $primary-color;
          text-decoration: none;
          span {
            color: $primary-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 14px */
          }
          &:hover {
            background-color: $primary-color;
            svg > path {
              fill: $light-color;
            }
            span {
              color: $light-color;
            }
          }
        }
        .icons_contact {
          a {
            text-decoration: none;
          }
        }
      }
      .switch_lang {
        display: flex;
        border-radius: 12px;
        overflow: hidden;
        button {
          display: block;
          border: none;
          outline: 0;
          padding: 4px 8px;
          width: auto;
          height: 24px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 12px */
          &.default {
            color: $dark-color;
            background-color: $silver-color;
          }
          &.active {
            color: $light-color;
            background-color: $primary-color;
          }
        }
      }
    }

    .nav_main {
      display: flex;
      width: 100%;
      padding: 12px 16px;
      justify-content: space-between;
      align-items: center;
      border-radius: 64px;
      background: $primary-color;
      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease;
      .logo {
        width: 280px;
        height: 42px;
        flex-shrink: 0;
        aspect-ratio: 20/3;
      }
      .nav_list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        margin-bottom: 0;
        li {
          display: inline-block;
          a {
            padding: 6px 12px;
            color: $light-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 14px */
            text-decoration: none;
            border-radius: 16px;
            transition: all 0.3s ease;
            &.active,
            &:hover {
              background-color: $light-color;
              color: $primary-color;
            }
          }
        }
      }
      .user_area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        .user_cart {
          .counter {
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
          }
        }
        .account_option {
          display: flex;
          padding: 6px 12px 6px 8px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border-radius: 24px;
          background: rgba(249, 249, 249, 0.25);
          text-decoration: none;
          .text {
            color: $light-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 14px */
          }
        }
      }
    }
  }
  .mian_nav.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 0.7s forwards ease-in-out;
    background-color: $light-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    .nav_main {
      margin-bottom: 10px;
    }
  }
  .mobile_menu {
    .mobile_menu_icon {
      color: $light-color;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .mobile_menu_door {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    background-color: $light-color;
    height: 99vh;
    z-index: 999;
    box-shadow: rgba(136, 165, 191, 0.48) -1px 2px 5px 0px,
      rgba(255, 255, 255, 0.8) -10px -2px 5px 0px;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    &.active {
      transform: translateX(0%);
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      background-color: $primary-color;
      h6 {
        margin: 0;
        font-size: 16px;
        color: $light-color;
      }
      .close_icon {
        color: $light-color;
        font-size: 20px;
        padding: 10px;
        display: inline-block;
        cursor: pointer;
      }
    }
    ul {
      margin-top: 30px;
      li {
        font-size: 14px;
        color: $dark-color;
        padding: 7px 15px;
        a {
          text-decoration: none;
          display: block;
          color: $dark-color;
        }
      }
    }
  }
  .header_bottom_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $light-color;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 2px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px 2px;
    ul {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      li {
        a {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 5px;
          text-decoration: none;
          color: $dark-color;
          font-weight: 300;
          font-size: 12px;
          padding: 12px 5px;
          transition: all 0.3s ease;
          i {
            color: $dark-color;
            opacity: 80%;
            font-size: 16px;
          }
          &:hover {
            color: $primary-color;
          }
          &:hover i {
            color: $primary-color;
          }
        }
      }
    }
  }
  @keyframes slideDown {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  // ===== Navigation Section End
}
