@media (min-width: 1401px) {
  .header_bottom_menu {
    display: none;
  }
  header .mian_nav .nav_main .mobile_logo {
    display: none;
  }
  header .mian_nav .mobile_menu {
    display: none;
  }
  header .mian_nav .nav_main .mobile_logo {
    display: none;
  }
}
@media (max-width: 1400px) {
  .featured_cattle .feature-carousel .owl-nav button.owl-next {
    right: -10px;
  }
  .featured_cattle .feature-carousel .owl-nav button {
    left: -10px;
  }
  .latest_cattle .latest-cattle-carousel .owl-nav button.owl-next {
    right: -10px;
  }
  .latest_cattle .latest-cattle-carousel .owl-nav button {
    left: -10px;
  }
  .header_bottom_menu {
    display: none;
  }
  header .mian_nav .mobile_menu {
    display: none;
  }
  header .mian_nav .nav_main .mobile_logo {
    display: none;
  }
}
@media (max-width: 1200px) {
  header .mian_nav .nav_main .nav_list {
    gap: 5px;
  }
  .usp_section .usp_card {
    padding: 15px;
  }
  header .mian_nav .nav_main .logo {
    display: block;
  }
  header .mian_nav .nav_main .mobile_logo {
    display: none;
  }
  .header_bottom_menu {
    display: none;
  }
  header .mian_nav .mobile_menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .fixed_social_icons {
    display: none;
  }
  header .mian_nav .nav_main .nav_list {
    display: none;
  }
  header .mian_nav .nav_main .user_area {
    display: none;
  }
  header .mian_nav .nav_main .logo {
    display: none;
  }
  header .mian_nav .nav_main .mobile_logo {
    display: block;
  }
  header .mian_nav .topbar {
    display: none;
  }
  header .mian_nav .nav_main {
    margin: 10px 0;
  }
  .slider_section {
    margin-top: unset;
  }
  header .mian_nav .nav_main {
    padding: 7px 20px;
  }
  header .mian_nav .mobile_menu {
    display: block;
  }
  .usp_section .usp_card {
    padding: 13px 5px;
  }
  .our_process .container .card_default img {
    height: 150px;
  }
  .about_info .info_card {
    border-radius: 12px;
    gap: 20px;
    margin-bottom: unset;
    margin-top: 15px;
  }
  footer .footer_content img {
    width: 90%;
  }
  footer .footer_content .text_default {
    margin: 16px 0 0 0;
  }
  .header_bottom_menu {
    display: block;
  }
  footer {
    margin-bottom: 60px;
  }
  .usp_section .usp_card {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .our_process .container .card_default {
    margin-bottom: 20px;
  }
  .our_process .container .card_default img {
    height: 250px;
  }
  footer .footer_content img {
    width: unset;
  }
  footer .footer_content .title {
    margin-bottom: 15px;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .usp_section .usp_card {
    max-width: unset;
    padding: 20px 0;
    border-radius: 12px;
  }
  .our_process .container .card_default img {
    height: 200px;
  }
  .about_info .about-image {
    flex-direction: column;
  }
  .about_info .about-image img {
    width: 100%;
    height: 300px;
  }
}
