@media (min-width: 1401px) {
    .header_bottom_menu {
        display: none;
    }
    header .mian_nav .nav_main .mobile_logo {
        display: none;
    }
    header .mian_nav .mobile_menu {
        display: none;
    }
    header .mian_nav .nav_main .mobile_logo {
        display: none;
    }
}
@media (max-width: 1400px) {
    .featured_cattle .feature-carousel .owl-nav button.owl-next {
        right: -10px;
    }
    .featured_cattle .feature-carousel .owl-nav button {
        left: -10px;
    }
    .latest_cattle .latest-cattle-carousel .owl-nav button.owl-next {
        right: -10px;
    }
    .latest_cattle .latest-cattle-carousel .owl-nav button {
        left: -10px;
    }
    .header_bottom_menu {
        display: none;
    }
    header .mian_nav .mobile_menu {
        display: none;
    }
    header .mian_nav .nav_main .mobile_logo {
        display: none;
    }
}
@media (max-width: 1200px) {
    header .mian_nav .nav_main .nav_list {
        gap: 5px;
    }
    .usp_section .usp_card {
        padding: 15px;
    }
    header .mian_nav .nav_main .logo {
        display: block;
    }
    header .mian_nav .nav_main .mobile_logo {
        display: none;
    }
    .header_bottom_menu {
        display: none;
    }
    header .mian_nav .mobile_menu {
        display: none;
    }
    .details_content_section .purchase_info_card {
        padding: 15px;
    }
    .page_banner_section .banner_img {
        height: unset;
        border-radius: 12px;
    }
}
@media (max-width: 992px) {
    .fixed_social_icons {
        display: none;
    }
    header .mian_nav .nav_main .nav_list {
        display: none;
    }
    header .mian_nav .nav_main .user_area {
        display: none;
    }
    header .mian_nav .nav_main .logo {
        display: none;
    }
    header .mian_nav .nav_main .mobile_logo {
        display: block;
    }
    header .mian_nav .topbar {
        display: none;
    }
    header .mian_nav .nav_main {
        margin: 10px 0;
    }
    .slider_section {
        margin-top: unset;
    }
    header .mian_nav .nav_main {
        padding: 7px 20px;
    }
    header .mian_nav .mobile_menu {
        display: block;
    }
    .usp_section .usp_card {
        padding: 13px 5px;
    }
    .our_process .container .card_default img {
        height: 150px;
    }
    .about_info .info_card {
        border-radius: 12px;
        gap: 20px;
        margin-bottom: unset;
        margin-top: 15px;
    }
    footer .footer_content img {
        width: 90%;
    }
    footer .footer_content .text_default {
        margin: 16px 0 0 0;
    }
    .header_bottom_menu {
        display: block;
    }
    footer {
        margin-bottom: 60px;
    }
    .usp_section .usp_card {
        margin-top: 20px;
    }
    .sign_bg {
        width: 100%;
    }
    .cart_section .right_cart_box {
        margin-top: 30px;
    }
    .checkout_section .right_cart_box {
        margin-top: 30px;
    }
    .details_content_section .details_images .my_slides img {
        height: 400px;
    }
    .all_cattle_section .cattle_details .top_filter {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        gap: 10px;
    }
    .page_banner_section .banner_img {
        height: unset;
    }
    .page_banner_section {
        padding: 10px 0 0;
    }
    .compare_table {
        overflow-x: auto;
    }
    .compare_table table {
        min-width: 1000px;
    }
}
@media (max-width: 768px) {
    .our_process .container .card_default {
        margin-bottom: 20px;
    }
    .our_process .container .card_default img {
        height: 250px;
    }
    footer .footer_content img {
        width: unset;
    }
    footer .footer_content .title {
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .sign_bg {
        width: 100%;
    }
    .details_content_section .details_images .my_slides img {
        height: 250px;
    }
    .details_content_section .cattle_info {
        gap: 20px;
        padding: 30px 0;
        margin-top: 0px;
    }
    .details_content_section .cattle_info .text {
        font-size: 12px;
    }
    .details_content_section .cattle_info img {
        width: 20px;
    }
    .faq .testimonial_area .accordion-button {
        font-size: 16px;
        padding: 30px 0 10px;
    }
    .all_cattle_section .cattle_sidebar .long_banner {
        display: none;
    }
    .all_cattle_section .cattle_details {
        margin-top: 30px;
    }
}
@media (max-width: 576px) {
    .usp_section .usp_card {
        max-width: unset;
        padding: 20px 0;
        border-radius: 12px;
    }
    .our_process .container .card_default img {
        height: 200px;
    }
    .about_info .about-image {
        flex-direction: column;
    }
    .about_info .about-image img {
        width: 100%;
        height: 300px;
    }
    .sign_bg {
        width: 100%;
    }
    .cattle_info .box {
        text-align: center;
    }
    section {
        padding: 40px 0;
    }
    section .section_title {
        align-items: center;
    }
    section .section_title .title {
        margin-bottom: 0;
    }
}
